<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <h1 class="font_15"><%= @reciever.name %>
      <%= link_to new_ticket_path(:requester_id => @reciever.id), class: "chat_ticket" do %>
          SR <%= image_tag('pen-checkbox-128.png', style: "width: 8%;margin-top: -7px;") %>
      <% end %>
      <% if current_user.roles != "Customer" %>
          <%= mail_to "durgesh.tripathi2@gmail.com", raw(image_tag("Mail+Icon.png", style: 'width: 12%;')) %>
      <% end %>
    </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>&nbsp;
    <div id="templates_dropdown" class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% @templates.each {|template| %>
            <li><a href="#" class="temp-title" id="template-<%=template.id%>" data="<%= template.description %>"><%= template.title %></a></li>
        <% } %>
      </ul>
    </div>
    &nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
  </div>
</div>
<div class="chatboxcontent">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>
<div class="chatboxinput">
  <%= form_for([@conversation, @message], :remote => true, :html => { id: "conversation_form_#{@conversation.id}"}) do |f| %>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
  <% end %>
</div>

<%= subscribe_to conversation_path(@conversation) %>

<script>
  $(function() {
    $(".temp-title").click(function(e) {
       $("#message_body").val($(this).attr('data'));
    });
  });
</script>
