<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Customer (optional)" %><br>
    <%= f.select :parent_id, options_from_collection_for_select(Customer.all, 'id', 'name', @template.parent_id ), :include_blank => true, :class => 'select_field', :size => 17  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
