<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user ? @ticket.user.name : "" %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ticket.priority %>
</p>

<p>
  <strong>Requester:</strong>
  <%= @ticket.requester ? @ticket.requester.name : "" %>
</p>

<%= link_to "Add Attachments", new_ticket_attachment_path(:ticket_id => @ticket.id), :rel => "facebox", class: "btn btn-success btn-xs start-conversation" %><br>
<% if @ticket.attachments.any? %>
  <b>List of Attachments</b>
  <table class="table table-striped">
    <tbody>
      <% @ticket.attachments.each do |attachment| %>
        <tr>
          <td><%= attachment.description %></td>
          <!-- <td><%= link_to 'Download', "#" %> <%= link_to 'Destroy', "#", method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<%= link_to "Add Commnets", new_ticket_comment_path(:ticket_id => @ticket.id), :rel => "facebox", class: "btn btn-success btn-xs start-conversation" %><br>
<% if @ticket.comments.any? %>
  <b>List of Comments</b>

  <table class="table table-striped">
    <tbody>
      <% @ticket.comments.each do |comment| %>
        <tr>
          <th width="20%"><%= comment.user ? comment.user.name : "" %></th>
          <td><%= comment.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<script src="jquery.js" type="text/javascript"></script>
<script src="facebox.js" type="text/javascript"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox({
    })
  })
</script>